# Ignore dependencies and environment files
public_html/vendor/

# Environment files
.env.local
.env.prod
*.log
.DS_Store

# Local MySQL data
mysql-data/

# auth, certs and db files
public_html/db/database_prod.php


